@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #00F2FE;
  --grey-1: #25252B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-grey-1: var(--grey-1);
  --color-dark: #0A0A0F;
  --color-dark-secondary: #1A1A24;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
